<div id="user-<%= user.id %>" class="card position-relative">
  <div class="row">
    <div class="col-2 pt-1 pr-0">
      <%= render 'shared/user_img', user: user %>
    </div>
    <div class="col-10 position-static">
      <div class="post-info">
        <span class="user">
          <%= link_to user.name, user_path(user) %>
        </span>
        <span class="follow-form">
          <span id="follow_form">
            <% if logged_in? %>
            <% if current_user.following?(user) %>
            <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
                  html: { method: :delete }) do |f| %>
            <%= f.submit "フォロー解除", class: "btn btn-secondary mt-0 mb-1" %>
            <% end %>
            <% else %>
            <%= form_for(current_user.active_relationships.build) do |f| %>
            <span><%= hidden_field_tag :followed_id, user.id %></span>
            <%= f.submit "フォロー", class: "btn btn-yellow mt-0 mb-1" %>
            <% end %>
            <% end %>
            <% end %>
          </span>

        </span>
      </div>

      <div class="card-body">
        <div class="card-text">
          <section class="user-profile">

            <%= user.profile %>

          </section>
        </div>
      </div>
    </div>
  </div>
</div>