<div class="container">
<div class="row">
<div class="col-md-4">
<section class="user_info">
<h1><%= @user.name %></h1>
</section>
<section class="stats">
<%= render 'shared/stats' %>
</section>
</div>
<div class="col-md-8">
<%= render 'follow_form' if logged_in? %>
<h3><%= @title %></h3>
<% if @users.any? %>
<ul class="dreamposts">
<%= render @users %>
</ul>
<%= will_paginate @dreamposts %>
<% end %>
</div>
</div>
</div>