<%= form_for(@dreampost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  <%= f.text_area :content, placeholder: "投稿できます" %>
  </div>
  <div class="space-between">
  <span class="picture">　  
    <label for="dreampost_picture">
  　  <i class="far fa-image"></i>
    </label>    
    <%= f.file_field :picture, placeholder: '&#xf0a8',accept: 'image/jpeg,image/gif,image/png' %>    
    <div class="clear"></div>    
  </span>
  <%= f.submit "送信", class: "btn btn-primary" %>
  </div> 
  <% end %>
  

  <script type="text/javascript">
    $('#dreampost_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024:
      if (size_in_megabytes > 5) {
        alert('ファイルのサイズは5MBまでです。小さなファイルをご選択ください。');
      }
    });
  </script>