    <div class="row">
      <div class="col-2 pt-1 pr-0">
        <%= render 'shared/dreampost_user_img', dreampost_user: dreampost.user %>
      </div>
      <div class="col-10">
        <div class="post-info">
          <div>
            <span class="user">
              <%= link_to dreampost.user.name, dreampost.user %>
            </span>
            <span class="timestamp">
              <%= time_ago_in_words(dreampost.created_at) %>
            </span>
          </div>
        </div>
        <span class="mb-0"><%= dreampost.content %></span>
        <p class="post-img"><%= image_tag dreampost.picture.url, class: 'mb-3' if dreampost.picture? %></p>
      </div>
    </div>