<div id="dreampost-<%= dreampost.id %>" class="card position-relative">
  <div class="row">
    <div class="col-2 pt-1 pr-0">
      <%= render 'shared/user_img', user: dreampost.user %>
    </div>
    <div class="col-10 position-static">
      <div class="post-info">
        <div>
          <span class="user">
            <%= link_to dreampost.user.name, dreampost.user, class: 'z-2' %>
          </span>
          <span class="timestamp">
            <%= time_ago_in_words(dreampost.created_at) %>
          </span>
        </div>
        <% if current_user?(dreampost.user) %>
          <%= render 'shared/dropdown', object: dreampost %>
        <% end %>
      </div>
      <div class="card-body">
        <div class="card-text">
          <%= render 'dreamposts/thread', dreampost: dreampost %>
          <span><%= simple_format(dreampost.content) %></span>
        </div>
      </div>
      <p class="post-img">
        <%= image_tag dreampost.picture.url if dreampost.picture? %>
      </p>
      <% if dreampost.address? %>
      <div id="gmap_<%= dreampost.id %>" class="gmap"></div>      
      <% end %>
      <%= render 'dreamposts/reply', dreampost: dreampost %>
      <%= render 'likes/like', dreampost: dreampost %>
    </div>
  </div>
</div>

<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_api_key %>&callback=initMap"
  async defer></script>

<script>
  //地図のデフォルト位置
  function initMap() {
    geocoder = new google.maps.Geocoder()
    mapInstance = new google.maps.Map(document.getElementById(`gmap_${<%= dreampost.id %>}`), {
      center: {
        lat: <%= dreampost.latitude %>,
        lng: <%= dreampost.longitude %>
      },
      zoom: 2
    });
  }
</script>