<div class="row">
  <div class="col-2 pt-1 pr-0">
    <%= render 'shared/replier_img' %>    
  </div>
  <div class="col-10">
    <% if logged_in? %>
    <%= form_for(@dreampost) do |f| %>
    <div class="field">
      <%= f.hidden_field :in_reply_to, value: dreampost.id %>
      <%= f.text_area :content, placeholder: "返信を投稿する" %>
    </div>
    <div>
      <%= f.submit "送信", class: "btn btn-yellow btn-small float-right" %>
      <div class="clear"></div>
    </div>
    <% end %>
    <% else %>
    <p class="reply-form-blank">ログインしてください。</p>
    <% end %>
  </div>
</div>