<header>
  <nav class="navbar navbar-dark">
    <div class="container">
      <%= link_to "AnayumeApp", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav">
          <% if logged_in? %>
          <li class="nav-item">
            <%= link_to "\uf015 ホーム", root_path, class: "nav-link fa" %>
          </li>
          <li class="nav-item">
            <%= link_to "\uf57e 夢の場所", maps_path, class: "nav-link fa" %>
          </li>
          <li class="nav-item">
            <%= link_to "\uf0c0 皆様", users_path, class: "nav-link fa" %>
          </li>
          <li class="nav-item">
            <%= link_to "\uf2f5 ログアウト", logout_path, method: :delete, class: "nav-link fa" %>
          </li>
          <li class="nav-item">
            <%= link_to "\uf118 マイページ", user_path(@current_user), class: "nav-link fa" %>
          </li>
          </li>
          <li class="nav-item">
            <%= link_to "\uf013 設定", edit_user_path(@current_user), class: "nav-link fa" %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "\uf015 ホーム", root_path, class: "nav-link fa" %>
          </li>
          <li class="nav-item">
            <%= link_to "\uf2f6 ログイン", login_path, class: "nav-link fa" %>
          </li>
          <li class="nav-item">
            <%= link_to "\uf234 新規登録", signup_path, class: "nav-link fa" %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>